body {
  font-family: 'Press Start 2P', cursive;
  background: url(theme.jpg); /* Use 'background' para definir a imagem de fundo */
  background-size: cover; 
  text-align: center;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 10;
}
.navbarsec {
  color: var(--dark-text);
  padding: 0.75rem 4rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  border-bottom: 1px solid var(--transparent-black);
}
#game-container {
  display: flex;
  flex-direction: column;
  align-items: center;

  color: black;
  text-align: center;
  margin: 0;
  padding: 0;
  position: relative;
}

h1 {
  font-size: 24px;
  font-weight: bold;
  margin: 10px 0;
}

p {
  font-size: 15px;
  margin: 10px 0;
  border: 2px solid blue;
  border-radius: 5px;
  padding: 10px;
}

.botao {
  background-color: blue;
  color: black;
  font-weight: bold;
  font-size: 20px;
  border-radius: 10px;
  padding: 10px 20px;
  margin: 10px 0;
  cursor: pointer;
}

.botao:hover {
  background-color: black;
  color: blue;
}

#snake {
  background: black;
  display: block;
  margin: 0 auto;
  border: 2px solid white;
  border: 2px solid #000;
  margin: 0 auto;
}

#game-info {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-top: 10px;
  padding: 0 20px;
}

.info {
  text-align: center;
  border: 2px solid white; /* Adiciona uma borda ao redor do elemento .info */
  padding: 10px;
}

#score {
  font-size: 24px; /* Aumenta o tamanho da fonte do score */
  color: black;
}

#portuguese-word {
  font-size: 30px; /* Aumenta o tamanho da fonte da palavra em português */
  color: black;
}

#gameover-screen {
  display: none;
}

#game-background {
  background: lightblue;
  background-image: url(grass.png);
  position: absolute;
  top: 0;
  left: 0;
}

